body
{
   background: #383A3B;
}

#bod
{
	margin: auto;
}

#bod > div > div
{
	color: #fff;
	padding: 5px;
	margin-top: 10px;
}

#top_header
{
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	background: #2C2D2E;
	margin: auto; 
	width:66.66666667%;
}

#top_header_logo
{
	float: left;
}

#top_header_menu > ul
{
	float: right;
	margin-left: -40px;
}

#top_header_menu > ul > li
{
	font-size: 16px;
	display: inline-block;
	margin-right: 13px;
}

#top_header_menu > ul > li > a
{
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px gray, 0 0 1em gray;
}

#left_menu > ul > a > li
{
	padding: 5px;
	display: block;
	margin-left: -40px;
	color: #fff;
}

#page_avatar
{
	background: #2C2D2E;
}

#page_avatar > img
{
	min-height: 100%;
	min-width: 100%;
	margin: 5px;
	height: 200px;
}

#page_addPhoto
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 25px;
	background: gray;
	color: #fff;
	text-shadow: 1px 1px 1px #000, 0 0 1em #000;
	border: 1px solid #fff;
}

#page_info
{
	background: #2C2D2E;
}

#page_info_name
{
	margin-left: -30px;
	font-size: 22px;
	text-shadow: 1px 1px 1px gray, 0 0 1em gray;
}

#page_info_lastOn
{
	color: gray;
	font-size: 12px;
	margin-top: 10px;
}

#page_info_status
{
	margin-left: -15px;
	font-size: 13px;
}

#page_info_onshow
{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid gray;
	margin-bottom: 20px;
}

#page_info_more
{
	background: gray;
	color: #fff;
	text-shadow: 1px 1px 1px #000, 0 0 1em #000;
	border: 1px solid #fff;
}

#page_info_unshow
{
	display: none;
}

#page_info_unshow > div
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

.page_info_title
{
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 17px;
	text-shadow: 1px 1px 1px gray, 0 0 1em gray;
}

#page_4_photo
{
	background: #2C2D2E;
}

#page_4_photo > img
{
	margin-top: 10px;
	height: 70px;
}

#page_add_wall
{
	padding: 5px;
	background: #2C2D2E;
}

#page_left
{
	margin-left: -10px;
	margin-right: 10px;
}

#page_add_wall > ul
{
	margin-left: -40px;
}

#page_add_wall > ul > li
{
	display: inline-block;
}

#page_add_wall > ul > li > input
{
	background: #2C2D2E;
	color: #fff;
	width: 100%;
}

#page_reit
{
	background: #2C2D2E;
}

#page_friends
{
	background: #2C2D2E;
}

#page_friends > ul
{
	margin-left: -40px;
}

#page_friends > ul > li
{
	display: inline-block;
	margin-bottom: 10px;
}

#page_friends > ul > li > img
{
	height: 60px;
}

#page_friends_online
{
	background: #2C2D2E;
}

#page_friends_online > ul
{
	margin-left: -40px;
}

#page_friends_online > ul > li
{
	display: inline-block;
	margin-bottom: 10px;
}

#page_friends_online > ul > li > img
{
	height: 60px;
}

#page_gifts
{
	background: #2C2D2E;
}

#page_gifts > ul
{
	margin-left: -40px;
}

#page_gifts > ul > li
{
	display: inline-block;
	margin-bottom: 10px;
}

#page_gifts > ul > li > img
{
	height: 60px;
}

#page_interest_pages
{
	background: #2C2D2E;
}

#page_interest_pages > ul
{
	margin-left: -40px;
}

#page_interest_pages > ul > li
{
	display: block;
}

#page_interest_pages > ul > li > img
{
	height: 40px;
}

#page_photo
{
	background: #2C2D2E;
}

#page_photo > ul
{
	margin-left: -40px;
}

#page_photo > ul > li
{
	display: block;
}

#page_photo > ul > li > img
{
	height: 100px;
}

#page_video
{
	background: #2C2D2E;
}

#page_video > ul
{
	margin-left: -40px;
}

#page_video > ul > li
{
	display: block;
}

#page_video > ul > li > img
{
	height: 100px;
}

#page_wall
{
	background: #2C2D2E;
}

#page_wall_set
{
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

#page_wall_set > ul
{
	margin-left: -40px;
}

#page_wall_set > ul > li
{
	margin-left: 5px;
	display: inline-block;
}

#page_info_wall_set_s
{
	margin-right: 10px;
	float: right;
}

#page_wall_drop
{
	float: right;
	margin-right: 10px;
}

#page_wall_avatar > img
{
	height: 40px;
}

#page_wall_text
{
	margin-top: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#page_wall_bottom > ul
{
	margin-left: -40px;
}

#page_wall_bottom > ul > li
{
	display: inline-block;
}

#friends_cont
{
	background: #2C2D2E;
	margin-left: -10px;
	margin-right: 10px;
	background: #2C2D2E;
}

#friends_top > ul
{
	margin-left: -40px;
}

#friends_top > ul > li
{
	display: inline-block;
}

#friends_view
{
	border-bottom: 1px solid gray;
}

#friends_view > ul
{
	margin-left: -40px;
}

#friends_view > ul > li
{
	padding-top: 20px;
	padding-bottom: 10px;
	display: inline-block;
}

#friends_view > ul > li > a
{
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px gray, 0 0 1em gray;
	height: 70px;
}

#friends_search_but
{
	padding: 3px;
	float: right;
	background: gray;
	color: #fff;
	text-shadow: 1px 1px 1px #000, 0 0 1em #000;
	border: 1px solid #fff;
}

#friends_search
{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#friends_search > a
{
	float: right;
}

#friends_search > ul > li
{
	display: inline-block;
}

#friends_search > input
{
	background: transparent;
	border: none;
	color: #fff;
}

#friends_set
{
	background: #2C2D2E;
}

#friends_set > ul
{
	margin-left: -45px;
}

#friends_set > ul > li
{
	padding-left: 5px;
	margin-top: 5px;
	display: block;
	font-size: 15px;
}

#friends_set > ul > li:hover
{
	padding-left: 5px;
	border-left: 5px solid gray;
}


#friends_vozm
{
	background: #2C2D2E;
}

#friends_vozm > ul
{
	margin-left: -40px;
}

#friends_vozm > ul > li
{
	display: block;
}

#friends_vozm > ul > li > ul
{
	margin-left: -35px;
}

#friends_vozm > ul > li > ul > li
{
	display: inline-block;
}

#friends_view_all_but
{
	margin: auto;
	color: #fff;
	font-size: 16px;
}

#news_add
{
	padding: 10px;
	margin-right: 10px;
	background: #2C2D2E;
	margin-left: -10px;
}

#news_add > li
{
	display: inline-block;
}

.news_add_li
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#news_add > li > input
{
	margin-top: -4px;
	border: none;
	color: #fff;
	background: transparent;
	width: 100%;
	height: 38px;
}

#news_add > li > img
{
}

#news_list
{
	margin-right: 10px;
	background: #2C2D2E;
	margin-left: -10px;
}

#news_list_drop
{
	float: right;
	margin-right: 10px;
}

#news_list_avatar > img
{
	height: 40px;
}

#news_list_text
{
	margin-top: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#news_list_bottom > ul
{
	margin-left: -40px;
}

#news_list_bottom > ul > li
{
	display: inline-block;
}

#news_vozm
{
	background: #2C2D2E;
}

#news_set
{
	background: #2C2D2E;
}